<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
     Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col size="6">
       <h1>Sonic: O Filme</h1>
       <h2>12 de fevereiro de 2020</h2>
       <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/Kt9iFdTu5TbAm7tNfc876mrWU.jpg"/>
       <p>Depois de descobrir um ouriço pequeno, azul e rápido, um policial de uma pequena 
        cidade deve ajudá-lo a derrotar um gênio do mal que deseja fazer experiências com…</p>
        <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>Operação Big Hero</h1>
        <h2>24 de outubro de 2014</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/zBDs1y1fK921HrhdRMqlloUqp5Z.jpg"/>
        <p>Cidade de San Fransokyo, Estados Unidos. Hiro Hamada (voz de Ryan Potter) é um garoto prodígio que, 
          aos 13 anos, criou um poderoso robô para participar de lutas…
        </p>
         <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
       </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col size="6">
       <h1>Harry Potter e a Pedra Filosofal</h1>
       <h2>16 de novembro de 2001</h2>
       <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/qnw9610ojLT0jU3lMSZOAFttt1e.jpg"/>
       <p>Harry Potter é um garoto órfão de 10 anos que vive infeliz com seus tios, os Dursley. 
         Até que, repentinamente, ele recebe uma carta contendo um convite para ingressar…</p>
        <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
      </ion-col>

      <ion-col size="6">
        <h1>O Senhor dos Aneis: A Sociedade do Anel</h1>
        <h2>18 de dezembro de 2001</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/oCyFGKCUAnIwsXJUZZsz9DJL3iG.jpg"/>
        <p>Numa terra fantástica e única, chamada Terra-Média, um hobbit (seres de estatura entre 80 cm 
          e 1,20 m, com pés peludos e bochechas um pouco avermelhadas) recebe…</p>
         <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
       </ion-col>
    
    
      <ion-col size="6">
        <h1>Orgulho e Preconceito</h1>
        <h2>16 de setembro de 2005</h2>
        <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/rHiWM3HxxSCq0m51AWXe0eYFefk.jpg"/>
        <p>Inglaterra, 1797. As cinco irmãs Bennet - Elizabeth (Keira Knightley), Jane (Rosamund Pike), 
        Lydia (Jena Malone), Mary (Talulah Riley) e Kitty (Carey Mulligan) …</p>
       <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
     </ion-col>

     <ion-col size="6">
      <h1>Razão e Sensibilidade</h1>
      <h2>13 de dezembro de 1995</h2>
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/iLl68VbsPQEpG14rDSZT2iV5GYD.jpg"/>
      <p>Em virtude da morte do marido, uma viúva e as três filhas passam a enfrentar dificuldades financeiras, 
        pois praticamente toda a herança foi para um filho do primeiro…</p>
     <ion-button expand="block" fill="outline" color="warning">Mais informações...</ion-button>
   </ion-col>


  </ion-row>

  </ion-grid>

</ion-content>
